@{
    ViewData["TİTLE"] = "Index1";
}
@model IEnumerable<MBB_project1.Models.Product>



<link rel="stylesheet" href="/css/index1.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">


<div class="container">
<div id="added">
    <p><button style="background-color: #157347;"><i class="fa fa-plus" aria-hidden="true"></i></button></p>
</div>
<div class="row">
    <div class="col-sm-12">
    <table class="table table-hover">
  <thead>
    <tr>
   
      <th scope="col">Product_ID</th>
      <th scope="col">Product_NAME</th>
      <th scope="col">Product_Count</th>
      <th scope="col">Product_Department</th>
    </tr>
  </thead>
  <tbody>

    @{
        foreach(var product in Model){
            <tr>
                <td>@product.PRODUCT_ID</td>
                <td>@product.PRODUCT_NAME</td>
                <td>@product.PRODUCT_COUNT</td>
                <td>@product.PRODUCT_DEPARTMENT</td>
                <td>
                    <button style="background-color: #e0eb4c;"><i class="fas fa-edit" aria-hidden="true"></i></button>
                    <button style="background-color: #cb1616;"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        }
    }
   
  </tbody>
</table>
</div>
</div>
</div>